:root{
    --head: #062053;
    --white: #fdfdfd;
    --grey: #cbd5e0;
    --coral: #E57996;
    --blue: #3f00ff;
    --green: #42B883;
    --defaultFontFamily: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body{
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 15fr 75fr;
    grid-template-rows: 8vh 92vh;
}

header{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #062053;
    color: white;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid black;
}

header h1{
    font-size: 16px;
    padding-left: 20px;
    padding-top: 20px;
}

aside{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
    border-right: 2px solid black;
}

aside a{
    font-size: 16px;
    margin: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

aside a:hover{
    color: #3f00ff;
}

aside button{
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
    background:none;
    border:none;
}

aside button:hover{
    color: #3f00ff;
}

main{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #cccccc;
    padding: 10px 40px 30px 40px
}

main h2{
    font-weight: bolder;
    font-size: 35px;
}

main .form{
    background-color: white;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    border-radius: 5px;
}

main input{
    border-radius: 5px;
    height: 30px;
    width: 300px;
}

.fname{
    grid-column: 1/2;
    grid-row: 1/2;
}

.lname{
    grid-column: 2/3;
    grid-row: 1/2;
}

.email{
    grid-column: 1/2;
    grid-row: 2/3;
}

.pword{
    grid-column: 2/3;
    grid-row: 2/3;
}

.role{
    grid-column: 1/2;
    grid-row: 3/4;
}

.saveUserBtn{
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: end;
}

#saveUserBtn{
    background-color: #3f00ff;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 80px;
}

#saveUserBtn:hover{
    background-color: #806bf8;
}

#role{
    border-radius: 5px;
    height: 30px;
    width: 300px;
}